* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: black;
    height: 100vh;
    font-family: 'Open Sans';
    line-height: 1.75;
    transition: background-color 0.3s, color 0.3s;
}

.general-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-header {
    display: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding: 2em 6em;
    width: 50%;
    min-width: 600px;
    gap: 4em;
}

.content-container > section {
    padding-top: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 3em;
    text-align: justify;
    border-radius: 3px;
    margin-top: 2em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-header-subtitle {
    font-weight: bold;
    float: left;
}

.card-header-date {
    color: rgba(0, 0, 0, .5);
    font-size: small;
    font-weight: bold;
    float: right;
}

.card-content {
    margin-top: 1em;
}

/*responsive design*/
@media (max-width: 768px) {
    .general-container {
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
    }

    .content-container {
        display: flex;
        padding: 0;
        width: 90%;
        min-width: auto;
        flex-direction: column;
        gap: 4em;
    }
}